<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>4Pet | Shop</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
	<link rel="stylesheet" th:href="@{/css/shop.css}">
</head>

<body>
	<div id="header">
		<div id="iconShop">
			<img th:src="@{/img/logo.png}" width="10%" class="rounded-circle">
		</div>
		<div id="nav">
			<div id="navsub">
				<a th:href="@{/client/homepage}">Homepage</a>
			</div>
			<div id="navsub">
				<a th:href="@{/client/shop}">Shop</a>
			</div>
			<div id="navsub">
				<a th:href="@{/client/cart}"><u>Cart</u></a>
			</div>
			<div id="navsub">
				<a th:href="@{/admin/homepage}">Admin</a>
			</div>
			<div id="navsub" th:if="${#request.userPrincipal == null}">
				<a th:href="@{/common/login}">Login</a>
			</div>
			<div id="navsub" th:unless="${#request.userPrincipal == null}">
				<i class="fas fa-user-check"></i>
				<div class="text-center">
					<p>
						<u><a th:href="@{/client/showUserInfo}" th:utext="${#request.userPrincipal.name}"></a></u>
					</p>
					<a th:href="@{/logout}"><u>Sign out</u></a>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center"></div>
	<div class="container-fluid">
		<br>
		<table class="table">
			<thead class="table table-bordered">
				<tr>
					<th scope="col"></th>
					<th scope="col">Image</th>
					<th scope="col">Product Name</th>
					<th scope="col">Price</th>
					<th scope="col">Quantity</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cart : ${LIST_CART}">
					<td>
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input" th:value="${cart.product.productId}">
								<input type="hidden" class="quantity" th:value="${cart.product.quantity}">
							</label>
						</div>
					</td>
					<td><img th:src="${'/product-img/' + cart.product.image}" width="15%"
							style="border: 1px solid grey; border-radius: 15px;">
					</td>
					<td th:text="${cart.product.name}"></td>
					<td id='price' th:text="${cart.price} + '$'"></td>
					<td>
						<form th:action="@{/client/cart/update}" th:method="post">
							<input type="hidden" name="productId" th:value="${cart.product.productId}"> <input
								type="number" th:value="${cart.quantity}" id="quantity" name="quantity"
								style="border-radius: 20px; width: 100%;" />
					</td>
					<td style="display: flex;"><input type="submit" value="Update"
							class="btn btn-outline-warning btn-lg"> <a
							th:href="@{/client/cart/delete/(productId=${cart.product.productId})}"
							class="btn btn-danger btn-lg"
							onclick="if(!(confirm('Are you sure you want to delete this product?'))) return false"
							role="button"> Delete </a>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<form th:action="@{/client/cart/buy}" th:method="GET"
			style="position: fixed; bottom: 0; background-color: lightgrey; width: 100%; display: block;">
			<label>Total: <label id="total" th:text="${TOTAL}"></label></label>
			<p>
				Your balance is: <br> <b><u id="balance" th:text="${USER_BALANCE} + '$'" class="text-info"></u></b>
			</p>
			<input type="hidden" name="productIdChecked" id="productIdChecked">
			<input type="hidden" name="total">
			<input type="submit" id="btnBuy" value="Buy" class="btn btn-outline-success" disabled/>
		</form>
	</div>

	<script>
		$(document).ready(function () {
			var productId
			var total
			var quantityProduct
			$('input[type=checkbox]').change(function () {
				productId = ""
				total=0
				quantityProduct=0
				$('#btnBuy').prop('disabled', true);
				$('#total').text(total)
				$('input[type=checkbox]').each(function () {
					if (this.checked) {
						quantityProduct=parseInt($(this).parent().find(".quantity").val())
						var quantityPurchased=parseInt($(this).parent().parent().parent().parent().find("#quantity").val())
						productId += $(this).val() + ","
						$("#productIdChecked").val(productId)
						var price = $(this).parent().parent().parent().parent().find("td[id='price']").text();
						var price2 = price.replace("$", "");
						total+=parseInt(price2)
						$('#total').text(total)
						$('input[name=total]').val(total)
						var balance=$('#balance').text()
						var balance2= balance.replace("$","")
						if(quantityProduct<quantityPurchased)
							alert("This product is out of stock!")							
						else if(parseInt(balance2)<total)
							alert("You don't have enough money!")
						else
							$('#btnBuy').removeAttr('disabled')
					}
				});
			})
			$('#btnBuy').click(function () {
				
			})
		})
	</script>
</body>

</html>