/* intro + started + contact */
#intro, #started, #contact{
    background: lightyellow;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid lightgrey;
}
/* petType */
#petType{
    display: flex;
}
#petType > div{
    width: 20%;
    font-size: xx-large;
    text-align: center;
    background: rgb(242, 245, 245);
    margin: 3px;
    border-radius: 8px;
}
#petType div:hover{
    cursor: pointer;
    background: lightslategrey;
}
/* media */
#media{
    display: flex;
}
#media div{
    width: 33.3%;
}
#media a{
    text-decoration: underline;
    color: blue;
    font-style: italic;
}