/* Initialize */
    *{
        margin: 0;
        padding: 0;
    }
    input, button, textarea{
        outline: none;
    }
    input{
        text-align:center;
    }
    input::placeholder{
        font-style: italic;
    }
/* header css */
    #header{
        background: lightgrey;
        display: flex;
        padding: 30px;
    }
    #iconShop{
        width: 60%;
    }
    #iconShop > img{
        background: lightyellow;
    }
    #nav{
        width: 40%;
    }
    #nav{
        padding: 0;
        display: flex;
    }
    #navsub{
        width: 100%;
        position: relative;
        text-align: center;
    }
    #navsub a{
        text-decoration: none;
        color: black;
        font-weight: 900;
    }
    #item{
        display: none;
        flex-wrap: wrap;
        position: absolute;
        width: 100%;
    }
    #subitem{
        width: 100%;
    }
/* contentBox css */
    #contentBox{
        display: flex;
        position: relative;
    }
    #contentPage{
        width: 25%;
        background: lightgrey;
        border: 1px solid black;
        height: 100%;
        position: fixed;
        right: 0;
        padding-left: 1%;
    }
    #contentPage li {
        color: black;
        text-decoration: underline;
        list-style-type: none;
    }
    #contentPage li:hover{
        cursor: pointer;
        background: lightgrey;
    }
    #content h1{
        font-weight: 900;
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    }
    #content{
        width: 75%;
        padding-left: 30px;
    }
    #petType{
        display: flex;
    }
    #petType div{
        width: 20%;
        font-size: xx-large;
        text-align: center;
        background: lightgray;
        margin: 3px;
        border-radius: 8px;
    }
    #petType div:hover{
        cursor: pointer;
        background: lightslategrey;
    }
/* resultType (getStarted) css */
    #resultType{
        display: flex;
        flex-wrap: wrap;
    }
    #food{
        background: lightgrey;
        margin: 3px;
        display: flex;
        width: 49%;
        padding: 20px;
    }
/* media css */
    #media{
        display: flex;
    }
    #media div{
        width: 33.3%;
    }
    #media a{
        text-decoration: underline;
        color: blue;
        font-style: italic;
    }