/* filter */
    #petType{
        display: flex;
    }
    #petType div, #categoryType{
        width: 10%;
        font-size: xx-large;
        text-align: center;
        background: lightgray;
        margin: auto;
        border-radius: 8px;
    }
    #foodDetail div{
        display: flex;
    }
    #foodDetail div input{
        margin: 1%;
    }
    #filter{
        padding-top: 15px;
    }
    #category{
        background: rgb(243, 243, 243);
        padding: 7px;
    }
/* resultType */
    #resultType{
        display: flex;
        flex-wrap: wrap;
    }
    #food{
        background: rgb(224, 221, 221);
        margin: 3px auto;
        display: flex;
        width: 32.5%;
        padding: 20px;
    }