/* Initialize */
    *{
        margin: 0;
        padding: 0;
    }
    input, button, textarea{
        outline: none;
    }
    input{
        text-align:center;
    }
    input::placeholder{
        font-style: italic;
    }
/* header css */
    #header{
        background: lightgrey;
        display: flex;
        padding: 30px;
    }
    .currentLocation{
        padding: 5px;
        border-radius: 10px;
        background: darkgrey;
    }
    #iconShop{
        width: 60%;
    }
    #nav{
        width: 40%;
    }
    #nav{
        padding: 0;
        display: flex;
    }
    #navsub{
        width: 100%;
        position: relative;
        text-align: center;
    }
    #navsub a{
        text-decoration: none;
        color: blue;
    }
    #item{
        display: none;
        flex-wrap: wrap;
        position: absolute;
        width: 100%;
    }
    #subitem{
        width: 100%;
    }
    #navsub:hover{
        cursor: pointer;
        font-weight: 900;
    }
    #navsub:hover > #item{
        display: flex;
    }
    #subitem:hover{
        background: grey;
    }