<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4Pet | Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
    <div id="header">
        <div id="iconShop">
            <img th:src="@{/img/logo.png}" width="10%" class="rounded-circle">
        </div>
        <div id="nav" class="text-center">
            <i class="fas fa-user-check"></i>
            <p><u><a th:href="@{/client/showUserInfo}">nano</a></u></p>
            <a th:href="@{/logout}"><u>Sign out</u></a>
        </div>
    </div>
    <div class="jumbotron text-center">
        <h1>Welcome back, Admin</h1>
        <p>Easily manage your data from this admin</p>
    </div>
    <style>
        #menu{
            display: flex;
            flex-wrap: wrap;
            margin-top: -24px;
        }
        #menu > div{
            background: rgb(226, 225, 225);
            border: 1px solid grey;
            border-radius: 10px;
            width: 31%;
            margin: 5px;
            padding: 15px;
        }
        #item > h3{
            font-weight: bold;
        }
    </style>
    <div id="menu">
        <div id="item">
            <h3>Category</h3>
            <p>- Category classify or devide products into tag key. Admin can CRUD category type of food be.</p>
            <a th:href="@{/admin/categories}" class="btn btn-primary btn-lg" role="button">Manager</a>
        </div>
        <div id="item">
            <h3>Product</h3>
            <p>- Admin can create-read-update-delete (CRUD) products (food) avaiable in database.</p>
            <a th:href="@{/admin/products}" class="btn btn-primary btn-lg" role="button">Manager</a>
        </div>
        <div id="item">
            <h3>User</h3>
            <p>- The list profile of all account was registed and roles of them. You also maybe CRUD</p>
            <a th:href="@{/admin/users}" class="btn btn-primary btn-lg" role="button">Manager</a>
        </div>
        <div id="item">
            <h3>Role</h3>
            <p>- Add a new role or change the default system role. The default is 2 roles: MEMBER, ADMIN</p>
            <a th:href="@{/admin/roles}" class="btn btn-primary btn-lg" role="button">Manager</a>
        </div>
        <div id="item">
            <h3>Cart</h3>
            <p>- CRUD some cart of user bought. Don't tough much it will cause some proplems to client.</p>
            <a th:href="@{/admin/carts}" class="btn btn-primary btn-lg" role="button">Manager</a>
        </div>
    </div>
</body>
</html>