<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4Pet | Shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/css/shop.css}">
</head>
<body>
    <div id="header">
        <div id="iconShop">
            <img th:src="@{/img/logo.png}" width="10%" class="rounded-circle">
        </div>
        <div id="nav">
            <div id="navsub">
                <a th:href="@{/client/homepage}">Homepage</a>
            </div>
            <div id="navsub">
                <a th:href="@{/client/shop}"><u>Shop</u></a>
            </div>
            <div id="navsub">
                <a th:href="@{/client/cart}">Cart</a>
            </div>
            <div id="navsub">
                <a th:href="@{/admin/homepage}">Admin</a>
            </div>
            <div id="navsub" th:if="${#request.userPrincipal == null}">
                <a th:href="@{/common/login}">Login</a>
            </div>
            <div id="navsub" th:unless="${#request.userPrincipal == null}">
                <i class="fas fa-user-check"></i>
                <div class="text-center">
                    <p><u><a th:href="@{/client/showUserInfo}" th:utext="${#request.userPrincipal.name}"></a></u></p>
                    <a th:href="@{/logout}"><u>Sign out</u></a>
                </div>
            </div>
        </div>
    </div>
    <div id="contentBox">
        <div id="filter" class="text-center">
            <form th:action="@{/client/filterProduct}" th:method="get">
            <h3>
                Choose your pet type:
                <select name="selectPetType" id="selectPetType">
                    <option value="ALL" selected>All</option>
                    <option value="DOG">Dog</option>
                    <option value="CAT">Cat</option>
                </select>
            </h3>
            <div id="petType">
                <div></div>
                <div></div>
                <div id="dogType">
                    <img th:src="@{/img/dogIcon.png}" width="50%">
                </div>
                <div id="catType">
                    <img th:src="@{/img/catIcon.png}" width="50%">
                </div>
                <div></div>
                <div></div>
            </div>
            <h3>
                Select category:
                <select name="selectCategory" id="selectCategory">
                    <option value="ALL" selected>All</option>
                    <option value="KIBBLE">Kibble</option>
                    <option value="DEHYDRATED">Dehydrated</option>
                    <option value="CANNED">Canned</option>
                    <option value="SEMI-MOIST">Semi - Moist</option>
                    <option value="HOMEMADE">Home made</option>
                    <option value="RAW MEAT-BASED">Raw Meat-Based</option>
                </select>
            </h3>
            <div id="categoryType">
                <img th:src="@{/img/category_all.png}" width="50%">
            </div>
            <div class="text-right">
                <input type="submit" value="Filter" class="btn btn-primary btn-lg text-center" style="margin: 1%;">
            </div>
            </form>
        </div>
        <div id="category">
            <p><u><i>LIST PRODUCTS:</i></u></p>
            <div id="resultType">
            <th:block th:each="i : ${LIST_PRODUCTS}">
            	<div id="food">
                    <div id="foodImg" style="padding: 10px;">
                        <img th:src="${'/product-img/' + i.image}" width="100%">
                    </div>
                    <div id="foodDetail">
                        <h6 th:utext="${i.name}"></h6>
                        <p th:utext="${i.price}"></p>
                        <p th:utext="${i.description}"></p>
                        <div>
                            <a th:href="@{/client/products/(productId=${i.productId})}" role="button" class="btn btn-primary">View product</a>
                        </div>
                    </div>
                    </form>
                </div>
			</th:block>
            </div>
        </div>
    </div>
<script th:src="@{/jQuery/shop.js}"></script>
</body>
</html>